<!--------------------------------------------------------------------------------------->
<!-- Created by Faisal ------------------------------------------------------------------>
<!--------------------------------------------------------------------------------------->
<div class="container" [class.solution-dark-theme]="isDarkThemeActive"> 
	<div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-around stretch" fxFill>
	
		<!-- Header ------------------------------------------------------------------------->
		<div fxFlex="none">
			<solution-header [angularVersion]="ngVersion" [materialVersion]="'2.0.0-beta.12'">
		  </solution-header>
		</div>
    <!-- Container for sidebar(s) + page content -->
    <div fxFlex="grow">
      <solution-sidebar>
      </solution-sidebar>
    </div>
		<!-- Footer ------------------------------------------------------------------------->
		<div fxFlex="none">
			<solution-footer></solution-footer> 
		</div>
		<!----------------------------------------------------------------------------------->
	</div>
</div>